Repository bmw-software-engineering/lobster, pull requests merged in 2024-09, with the labels that each got.

#67 remove line number from tag and added counter logic for each function
  CHANGELOG.md
  lobster/tools/python/python.py
  test-system/lobster-python/multiple_identical_function_names.output
  test-system/lobster-python/multiple_identical_function_names.py
Labels: lobster-python

#78 Feature/implement coverage
  .github/workflows/ci.yml
  Makefile
  coverage.cfg
  requirements_dev.txt
  test-system/lobster-json/Makefile
  test-system/lobster-python/Makefile
  test-system/lobster-python/basic.output
  test-system/lobster-python/multiple_identical_function_names.output
  test-system/lobster-python/multiple_identical_function_names.py
  test-system/lobster-python/pytest_mark.output
  util/check_local_modifications.sh
Labels: GitHub

#82 Add static pages to Lobster
  .github/workflows/docs.yml
  Makefile
  README.md
  documentation/advanced.dot
  documentation/advanced.svg
  documentation/architecture.dot
  documentation/architecture.png
  documentation/cb_lobster_query.png
  documentation/config_files.md
  documentation/example_report.html
  documentation/manual-lobster_codebeamer.md
  documentation/manual-lobster_gtest.md
  documentation/schemas.md
  documentation/simple.dot
  documentation/simple.svg
  documentation/user-manual.md
  integration-tests/projects/basic/Makefile
  packages/lobster-tool-json/README.md
Labels: documentation, CI
