Repository bmw-software-engineering/lobster, pull requests merged in 2025-07, with the labels that each got.

#338 Remove `sys.exit` calls from `codebeamer.py`
  lobster/tools/codebeamer/codebeamer.py
  lobster/tools/codebeamer/exceptions.py
  tests-unit/lobster-codebeamer/test_codebeamer.py
Labels: internal

#328 Fix the return type for create_output_directory_and_copy_expected function
  tests-system/lobster-cpptest/test_directories.py
  tests-system/lobster-cpptest/test_extension.py
  tests-system/lobster-cpptest/test_multiple_files.py
  tests-system/lobster-cpptest/test_references.py
  tests-system/system_test_case_base.py
Labels: internal

#348 Fix handling of `--skip-clang-errors`
  CHANGELOG.md
  lobster/tools/cpp/cpp.py
Labels: lobster-cpp

#324 Request History for CB Mock Server
  Makefile
  lobster/tools/codebeamer/import_query.trlc
  tests-system/lobster-codebeamer/lobster_codebeamer_asserter.py
  tests-system/lobster-codebeamer/lobster_codebeamer_system_test_case_base.py
  tests-system/lobster-codebeamer/lobster_codebeamer_test_runner.py
  tests-system/lobster-codebeamer/mock_server.py
  tests-system/lobster-codebeamer/mock_server_setup.py
  tests-system/lobster-codebeamer/test_extract_requirements.py
  tests-system/lobster-codebeamer/test_lobster_codebeamer.py
  tests-system/lobster-codebeamer/test_valid_flow.py
  tests-unit/lobster-codebeamer/test_codebeamer.py
Labels: internal, requirements

#344 Introduce API to convert file references to GitHub references
  CHANGELOG.md
  Makefile
  documentation/manual-lobster_online_report_nogit.md
  lobster/errors.py
  lobster/location.py
  lobster/tools/core/online_report_nogit/online_report_nogit.py
  tests-unit/lobster-online-report-nogit/__init__.py
  tests-unit/lobster-online-report-nogit/test_online_report_nogit.py
Labels: lobster-online-report, lobster-online-report-nogit

#334 restrict the requirements regex
  CHANGELOG.md
  lobster/tools/cpptest/parser/constants.py
  lobster/tools/cpptest/parser/test_case.py
  tests-unit/lobster-cpptest/data/test_case.cpp
  tests-unit/lobster-cpptest/test_cpptest.py
Labels: lobster-cpptest

#358 Support C++ Template Functions
  CHANGELOG.md
  Makefile
  lobster/tools/cpp/cpp.py
  tests-integration/projects/cpp-focus/.gitignore
  tests-integration/projects/cpp-focus/BUILD
  tests-integration/projects/cpp-focus/Makefile
  tests-integration/projects/cpp-focus/ci_report.reference_output
  tests-integration/projects/cpp-focus/fruit.cpp
  tests-integration/projects/cpp-focus/fruit.h
  tests-integration/projects/cpp-focus/fruit.rsl
  tests-integration/projects/cpp-focus/fruit.trlc
  tests-integration/projects/cpp-focus/fruit_test.cpp
  tests-integration/projects/cpp-focus/lobster-trlc.conf
  tests-integration/projects/cpp-focus/lobster.conf
  tests-integration/projects/cpp-focus/lobster.h
  tests-integration/projects/cpp-focus/report1.reference_output
  tests-integration/projects/cpp-focus/report_cpp_focus.reference_output
  tests-integration/projects/cpp-focus/trlc_config.yaml
Labels: lobster-cpp

#360 Support multiple references in same line
  CHANGELOG.md
  lobster/tools/cpp/cpp.py
  tests-integration/projects/cpp-focus/Makefile
  tests-integration/projects/cpp-focus/ci_report.reference_output
  tests-integration/projects/cpp-focus/fruit.cpp
  tests-integration/projects/cpp-focus/fruit.trlc
  tests-integration/projects/cpp-focus/fruit_test.cpp
  tests-integration/projects/cpp-focus/report1.reference_output
  tests-integration/projects/cpp-focus/report_cpp_focus.reference_output
Labels: lobster-cpp

#363 Check output of `lobster-ci-report` in integration test
  tests-integration/projects/basic/.gitignore
  tests-integration/projects/basic/Makefile
  tests-integration/projects/basic/ci_report
  tests-integration/projects/basic/ci_report.reference_output.log
  tests-integration/projects/basic/report.reference_output.lobster
  tests-integration/projects/cpp-focus/.gitignore
  tests-integration/projects/cpp-focus/Makefile
  tests-integration/projects/cpp-focus/ci_report.reference_output.log
  tests-integration/projects/cpp-focus/report.reference_output.lobster
  tests-system/tests_utils/update_online_json_with_hashes.py
Labels: internal

#369 Only restore `clang-tidy` cache, but do not build on demand
  .github/workflows/ci.yml
  .github/workflows/clang_tidy_cache.yml
  lobster/tools/cpp/cpp.py
  tests-integration/projects/cpp-focus/.gitignore
  tests-integration/projects/cpp-focus/Makefile
  tests-integration/projects/cpp-focus/ci_report.reference_output.log
  tests-integration/projects/cpp-focus/fruit.cpp
  tests-integration/projects/cpp-focus/fruit.h
  tests-integration/projects/cpp-focus/fruit.trlc
  tests-integration/projects/cpp-focus/fruit_compile_commands.json
  tests-integration/projects/cpp-focus/fruit_test.cpp
  tests-integration/projects/cpp-focus/report.reference_output.lobster
Labels: internal
