Repository bmw-software-engineering/lobster, pull requests merged in 2025-08, with the labels that each got.

#385 Added HTML identifiers and divs for HTML report
  lobster/html/htmldoc.py
  lobster/tools/core/html_report/html_report.py
  tests_system/lobster_html_report/data/custom_data.output
  tests_system/lobster_html_report/data/custom_data_tracing_policy.output
  tests_system/lobster_html_report/data/is_actually_html.output
  tests_system/lobster_html_report/data/to_render_md_content.output
Labels: internal, lobster-html-report

#373 Introduced API to generate lobster report
  CHANGELOG.md
  lobster/config/parser.py
  lobster/report.py
  lobster/tools/core/report/report.py
  tests_unit/lobster_report/test_report.py
Labels: lobster-report

#383 Update requirements for STF function `update_json`
  Makefile
  tests_system/system_test_framework.trlc
  tests_system/tests_utils/update_online_json_with_hashes.py
Labels: internal, requirements

#395 Fix Bazel Integration & Ensure CI support for it
  .github/workflows/ci.yml
  lobster.bzl
  tests_integration/projects/basic/BUILD
  tests_integration/projects/basic/lobster-trlc.conf
  tests_integration/projects/basic/lobster-trlc.yaml
Labels: bazel

#393 Fix TRLC Dependency Version
  CHANGELOG.md
  packages/lobster-tool-trlc/setup.py
Labels: lobster-trlc

#391 Use API approach in lobster-cpptest
  CHANGELOG.md
  lobster/tools/cpptest/cpptest.py
  tests_system/lobster_cpptest/test_config_exceptions.py
  tests_system/lobster_cpptest/test_directories.py
  tests_system/lobster_cpptest/test_extension.py
  tests_system/lobster_cpptest/test_multiple_files.py
Labels: lobster-cpptest

#412 cpptest system-test update
  tests_system/lobster_cpptest/data/cpptest-config.yaml
  tests_system/lobster_cpptest/data/valid_cpptest_flow.yaml
Labels: lobster-cpptest

#415 Restrict `package.yml` to `main` branch
  .github/workflows/package.yml
Labels: internal

#422 Read command line arguments from file
  CHANGELOG.md
  lobster/meta_data_tool_base.py
  lobster/tools/trlc/requirements/requirements.trlc
  tests_system/lobster_meta_data_tool_base/test_meta_data_tool_base.py
Labels: lobster-core, lobster-codebeamer, lobster-cpp, lobster-gtest, lobster-json, lobster-python, lobster-trlc, lobster-cpptest, lobster-html-report, lobster-online-report, lobster-online-report-nogit, lobster-report

#379 Lobster-json system-tests
  tests_system/lobster_json/data/input_dir_mix/test_one.json
  tests_system/lobster_json/data/input_dir_mix/test_two.json.txt
  tests_system/lobster_json/data/inputs_cosmetic_duplicate.json
  tests_system/lobster_json/data/mix_inputs.lobster
  tests_system/lobster_json/data/specific_schema.json
  tests_system/lobster_json/data/specific_schema.lobster
  tests_system/lobster_json/data/with_no_tag_attribute.yaml
  tests_system/lobster_json/data/with_syntax_error.yaml
  tests_system/lobster_json/lobsterjsonsystemtestcasebase.py
  tests_system/lobster_json/lobsterjsontestrunner.py
  tests_system/lobster_json/test_config_exceptions.py
  tests_system/lobster_json/test_directories.py
  tests_system/lobster_json/test_inputs_and_inputs_from_file.py
  tests_system/lobster_json/test_valid_input.py
Labels: lobster-json

#424 Command Line Argument DIR|FILE
  CHANGELOG.md
  lobster/file_collector.py
  lobster/multi_file_input_config.py
  lobster/multi_file_input_tool.py
  lobster/tools/trlc/lobster_trlc_config.py
  lobster/tools/trlc/trlc_tool.py
  tests_system/lobster_trlc/lobster_trlc_test_runner.py
  tests_system/lobster_trlc/test_input_list_of_files.py
  tests_unit/temp_content_file.py
  tests_unit/test_multi_file_input_tool.py
  tests_unit/test_tool2.py
Labels: lobster-trlc

#425 LOBSTER Release 0.14.1
  CHANGELOG.md
  lobster/version.py
Labels: release

#426 Bump version to 0.14.2-dev after release
  CHANGELOG.md
  lobster/version.py
Labels: internal

#432 add missing source files
  lobster/common/BUILD.bazel
Labels: bazel

#431 Added LOBSTER version to html report
  CHANGELOG.md
  lobster/tools/core/html_report/html_report.py
  tests_system/lobster_html_report/BUILD.bazel
  tests_system/lobster_html_report/data/awesome.lobster
  tests_system/lobster_html_report/data/custom_data.output
  tests_system/lobster_html_report/data/custom_data_tracing_policy.output
  tests_system/lobster_html_report/data/is_actually_html.output
  tests_system/lobster_html_report/data/to_render_md_content.output
  tests_system/lobster_html_report/test_input_file.py
  tests_system/tests_utils/BUILD.bazel
  tests_system/tests_utils/update_version_in_html.py
Labels: lobster-html-report

#413 LOBSTER USECASES tracing policy: lobster-report
  Makefile
  lobster/tools/core/report/potential_errors.trlc
  lobster/tools/core/report/requirements/potential_errors.trlc
  lobster/tools/core/report/requirements/requirements.trlc
  lobster/tools/core/report/requirements/test_specifications.trlc
  tracing/lobster_report/report.potential-errors.lobster-trlc.yaml
  tracing/lobster_report/report.software-requirements.lobster-trlc.yaml
  tracing/lobster_report/report.system-requirements.lobster-trlc.yaml
  tracing/lobster_report/report.test-specifications.lobster-trlc.yaml
  tracing/tracing.sh
  tracing/tracing_policy.conf
Labels: documentation

#439 Fix: generate lobster-html-report for Python
  tests_system/lobster_python/__init__.py
  tracing/tracing.sh
Labels: documentation

#440 Release 0.14.3
  CHANGELOG.md
  lobster/common/version.py
Labels: release

#441 Bump version to 0.14.4-dev
  CHANGELOG.md
  lobster/common/version.py
Labels: internal

#418 LOBSTER USECASES tracing policy: lobster-html-report
  Makefile
  lobster/tools/core/html_report/requirements/html_report_content.trlc
  lobster/tools/core/html_report/requirements/potential_errors.trlc
  lobster/tools/core/html_report/requirements/requirements.trlc
  lobster/tools/core/html_report/requirements/test_specifications.trlc
  tracing/lobster_html_report/html_report.potential-errors.lobster-trlc.yaml
  tracing/lobster_html_report/html_report.software-requirements.lobster-trlc.yaml
  tracing/lobster_html_report/html_report.system-requirements.lobster-trlc.yaml
  tracing/lobster_html_report/html_report.test-specifications.lobster-trlc.yaml
  tracing/tracing.sh
Labels: documentation

#438 Simplify Test Data
  tests_system/lobster_json/data/input_dir_mix/test_one.json
  tests_system/lobster_json/data/valid_directory/test_one.json
Labels: internal

#405 Add VSCode Developer Config
  documentation/vscode_setup.md
Labels: documentation

#421 Robust Handling of Git Submodules in `lobster-online-report`
  CHANGELOG.md
  lobster/tools/core/online_report/BUILD.bazel
  lobster/tools/core/online_report/online_report.py
  lobster/tools/core/online_report/path_to_url_converter.py
  packages/lobster-core/setup.py
  packages/lobster-monolithic/setup.py
  requirements.bzl
  requirements.in
  requirements.txt
  requirements_lock_3_9.txt
  tests_integration/projects/basic/Makefile
  tests_integration/projects/basic/online-report-config.yaml
  tests_integration/projects/basic/report.reference_output.lobster
  tests_integration/projects/cpp_focus/Makefile
  tests_integration/projects/cpp_focus/online-report-config.yaml
  tests_integration/projects/cpp_focus/report.reference_output.lobster
  tests_system/lobster_online_report/BUILD.bazel
  tests_system/lobster_online_report/data/with_no_base_url.yaml
  tests_system/lobster_online_report/data/with_no_commit_id.yaml
  tests_system/lobster_online_report/data/with_no_repo_root.yaml
  tests_system/lobster_online_report/lobster_online_report_test_runner.py
  tests_system/lobster_online_report/test_config_exceptions.py
  tests_system/lobster_online_report/test_git_repo_different_location.py
  tests_system/lobster_online_report/test_git_repository.py
  tests_unit/lobster_online_report/BUILD.bazel
  tests_unit/lobster_online_report/data/BUILD.bazel
  tests_unit/lobster_online_report/data/online-report-config.yaml
  tests_unit/lobster_online_report/data/report.lobster
  tests_unit/lobster_online_report/test_online_report.py
Labels: lobster-online-report

#442 Remove Dependency to SetupTools
  BUILD.bazel
Labels: bazel

#443 Prevent empty HTML output file in case of rendering failure
  CHANGELOG.md
  lobster/tools/core/html_report/html_report.py
Labels: lobster-html-report
