Repository bmw-software-engineering/lobster, pull requests merged in 2025-05, with the labels that each got.

#292 Added meta tag in html header
  lobster/html/htmldoc.py
  lobster/tools/core/html_report/html_report_content.trlc
  tests-system/lobster-html-report/rbt-input-file-existance/is-file/expected-output/is_actually_html.lobster
  tests-system/lobster-html-report/test_html_report.py
Labels: lobster-html-report

#290 Toolwise alignment of changelog entries for 0.11.0, 0.12.0, 0.12.1
  CHANGELOG.md
Labels: documentation

#298 Fix URL generation in `Codebeamer_Reference` class
  CHANGELOG.md
  lobster/location.py
  lobster/tools/core/html_report/requirements.trlc
  tests-unit/test_location.py
Labels: lobster-html-report

#299 Support identical C++ test files
  CHANGELOG.md
  lobster/tools/cpptest/cpptest.py
  lobster/tools/cpptest/file_tag_generator.py
  tests-unit/lobster-cpptest/test_file_tag_generator.py
Labels: lobster-cpptest

#300 Fix submodule path in `lobster-online-report`
  CHANGELOG.md
  lobster/tools/core/online_report/online_report.py
Labels: lobster-online-report

#302 Update `CHANGELOG.md` to reflect encoding tag
  CHANGELOG.md
Labels: documentation

#307 Fixed the lobster-trace in extract requirements test
  tests-system/lobster-codebeamer/test_extract_requirements.py
Labels: requirements

#308 Fix changelog
  CHANGELOG.md
Labels: documentation

#310 Bug Fix: Reference Field Support in LOBSTER Codebeamer
  CHANGELOG.md
  lobster/tools/codebeamer/codebeamer.py
  lobster/tools/codebeamer/requirements.trlc
  tests-system/lobster-codebeamer/data/test_references.lobster
  tests-system/lobster-codebeamer/lobster_codebeamer_asserter.py
  tests-system/lobster-codebeamer/lobster_codebeamer_test_runner.py
  tests-system/lobster-codebeamer/test_extract_requirements.py
  tests-system/lobster-codebeamer/test_valid_flow.py
Labels: bug, lobster-codebeamer

#313 Remove commented-out code
  lobster/tools/core/html_report/html_report.py
Labels: internal
