Repository bmw-software-engineering/lobster, pull requests merged in 2025-06, with the labels that each got.

#312 Use 0% coverage in case of zero items
  CHANGELOG.md
  lobster/report.py
  tests-unit/lobster-report/__init__.py
  tests-unit/lobster-report/test_report.py
Labels: lobster-core

#319 Modified `packages` make target to clean only affected folders
  Makefile
Labels: internal

#318 New Tool `lobster-online-report-nogit`
  CHANGELOG.md
  Makefile
  README.md
  lobster-online-report-nogit
  lobster/location.py
  lobster/report.py
  lobster/tools/core/online_report_nogit/__init__.py
  lobster/tools/core/online_report_nogit/online_report_nogit.py
  packages/lobster-core/README.md
  packages/lobster-core/setup.py
  packages/lobster-monolithic/setup.py
  tests-system/.gitignore
  tests-system/asserter.py
  tests-system/lobster-online-report-nogit/__init__.py
  tests-system/lobster-online-report-nogit/data/maxi-expected.lobster
  tests-system/lobster-online-report-nogit/data/maxi.lobster
  tests-system/lobster-online-report-nogit/data/mini-expected.lobster
  tests-system/lobster-online-report-nogit/data/mini.lobster
  tests-system/lobster-online-report-nogit/lobster_online_report_nogit_system_test_case_base.py
  tests-system/lobster-online-report-nogit/lobster_online_report_nogit_test_runner.py
  tests-system/lobster-online-report-nogit/test_nogit.py
  tests-system/lobster-online-report/lobster_online_report_system_test_case_base.py
  tests-system/system_test_case_base.py
Labels: lobster-core

#294 Render md content in descriptions
  CHANGELOG.md
  lobster/tools/core/html_report/html_report.py
  lobster/tools/core/html_report/input_file.trlc
  requirements.txt
  tests-system/lobster-html-report/data/to_render_md_content.lobster
  tests-system/lobster-html-report/data/to_render_md_content.output
  tests-system/lobster-html-report/lobster_UI_test_runner.py
  tests-system/lobster-html-report/test_input_file.py
Labels: lobster-core

#323 Update Dependencies
  packages/lobster-core/setup.py
  packages/lobster-monolithic/setup.py
  packages/lobster-tool-codebeamer/setup.py
  requirements.txt
Labels: lobster-core

#316 Losbter-cpptest system test cases for tool qualification
  documentation/manual-lobster_cpptest.md
  lobster/use_case_potential_errors.trlc
  packages/lobster-tool-cpptest/README.md
  tests-system/.gitignore
  tests-system/asserter.py
  tests-system/lobster-cpptest/data/1_reference.cpp
  tests-system/lobster-cpptest/data/1_reference.lobster
  tests-system/lobster-cpptest/data/1_reference_config.yaml
  tests-system/lobster-cpptest/data/cpp_test_files/car_test_cases.cpp
  tests-system/lobster-cpptest/data/dir_file1.abc
  tests-system/lobster-cpptest/data/dir_file2.ppp
  tests-system/lobster-cpptest/data/directory_files.lobster
  tests-system/lobster-cpptest/data/directory_files_config.yaml
  tests-system/lobster-cpptest/data/invalid_extension.lobster
  tests-system/lobster-cpptest/data/invalid_extension.xyz
  tests-system/lobster-cpptest/data/invalid_extension_config.yaml
  tests-system/lobster-cpptest/data/many_references.cpp
  tests-system/lobster-cpptest/data/many_references.lobster
  tests-system/lobster-cpptest/data/many_references_config.yaml
  tests-system/lobster-cpptest/data/multi1.cpp
  tests-system/lobster-cpptest/data/multi2.cpp
  tests-system/lobster-cpptest/data/multi3.cpp
  tests-system/lobster-cpptest/data/multi4.cpp
  tests-system/lobster-cpptest/data/multi5.cpp
  tests-system/lobster-cpptest/data/multiple_files.lobster
  tests-system/lobster-cpptest/data/multiple_files_config.yaml
  tests-system/lobster-cpptest/data/nested_directories.lobster
  tests-system/lobster-cpptest/data/nested_directories.yaml
  tests-system/lobster-cpptest/data/no_input_file_config.yaml
  tests-system/lobster-cpptest/data/no_references.cpp
  tests-system/lobster-cpptest/data/no_references.lobster
  tests-system/lobster-cpptest/data/no_references_config.yaml
  tests-system/lobster-cpptest/data/specific_directory.lobster
  tests-system/lobster-cpptest/data/specific_directory_config.yaml
  tests-system/lobster-cpptest/data/valid_extension.cpp
  tests-system/lobster-cpptest/data/valid_extension.lobster
  tests-system/lobster-cpptest/data/valid_extension_config.yaml
  tests-system/lobster-cpptest/data/valid_invalid_files.lobster
  tests-system/lobster-cpptest/data/valid_invalid_files_config.yaml
  tests-system/lobster-cpptest/lobster_cpptest_asserter.py
  tests-system/lobster-cpptest/lobster_cpptest_test_runner.py
  tests-system/lobster-cpptest/test_directories.py
  tests-system/lobster-cpptest/test_extension.py
  tests-system/lobster-cpptest/test_multiple_files.py
  tests-system/lobster-cpptest/test_references.py
  tests-system/system_test_case_base.py
  tests-system/tests_utils/update_cpptest_expected_output.py
Labels: internal

#332 Lobster-json system test cases for multiple files
  tests-system/lobster-json/data/both_inputs_with_extra_files.lobster
  tests-system/lobster-json/data/empty.lobster
  tests-system/lobster-json/data/input_dir/dir_file1.json
  tests-system/lobster-json/data/input_dir/dir_file2.json
  tests-system/lobster-json/data/input_files.txt
  tests-system/lobster-json/data/input_with_attributes.json
  tests-system/lobster-json/data/maroon.json
  tests-system/lobster-json/data/multi1.json
  tests-system/lobster-json/data/multi2_invalid.txt
  tests-system/lobster-json/data/multi3_invalid.abc
  tests-system/lobster-json/data/multi_config.lobster
  tests-system/lobster-json/data/multiple_files_mixed_ext.lobster
  tests-system/lobster-json/data/one/empty_file.txt
  tests-system/lobster-json/data/valid_dir.lobster
  tests-system/lobster-json/data/valid_invalid.txt
  tests-system/lobster-json/test_json_extension.py
  tests-system/lobster-json/test_multiple_files.py
  tests-system/test_runner.py
Labels: internal

#333 Improve file error handling
  CHANGELOG.md
  lobster/tools/core/online_report_nogit/online_report_nogit.py
  tests-system/lobster-online-report-nogit/data/invalid-ref.lobster
  tests-system/lobster-online-report-nogit/lobster_online_report_nogit_system_test_case_base.py
  tests-system/lobster-online-report-nogit/test_nogit.py
  tests-system/system_test_case_base.py
Labels: lobster-online-report-nogit

#326 Use `realpath` when converting from file reference to github reference
  CHANGELOG.md
  lobster/tools/core/online_report/online_report.py
Labels: lobster-online-report
