Repository bmw-software-engineering/lobster, pull requests merged in 2025-09, with the labels that each got.

#449 Update `lobster-pkg` documentation
  README.md
  documentation/manual-lobster_pkg.md
  documentation/user-manual.md
Labels: documentation

#463 `lobster-online-report` supports only HTTPS
  documentation/manual-lobster_online_report_nogit.md
  packages/lobster-core/README.md
Labels: documentation

#452 Rework Use Cases
  lobster/requirements.rsl
  lobster/tools/core/html_report/requirements/potential_errors.trlc
  lobster/use_case_potential_errors.trlc
  lobster/use_cases.trlc
Labels: requirements

#462 Fixed description for system tests: lobster-cpptest
  tests_system/lobster_cpptest/test_config_exceptions.py
  tests_system/lobster_cpptest/test_directories.py
  tests_system/lobster_cpptest/test_extension.py
  tests_system/lobster_cpptest/test_multiple_files.py
  tests_system/lobster_cpptest/test_references.py
  tests_system/lobster_cpptest/test_valid_scenario.py
Labels: internal

#466 Updated traceability files for html report
  lobster/tools/core/html_report/requirements/potential_errors.trlc
  lobster/tools/core/html_report/requirements/test_specifications.trlc
Labels: internal, requirements

#476 Remove unused id for h5 tag
  CHANGELOG.md
  lobster/tools/core/html_report/html_report.py
  lobster/tools/core/html_report/html_report_css.py
  tests_system/lobster_html_report/data/all_status.output
  tests_system/lobster_html_report/data/custom_data.output
  tests_system/lobster_html_report/data/custom_data_tracing_policy.output
  tests_system/lobster_html_report/data/is_actually_html.output
  tests_system/lobster_html_report/data/octopus.output
  tests_system/lobster_html_report/data/pizza.output
  tests_system/lobster_html_report/data/to_render_md_content.output
Labels: lobster-html-report

#475 `lobster-pkg`: use cases, potential errors and system tests
  lobster/tools/pkg/requirements/extraction_rules.trlc
  lobster/tools/pkg/requirements/potential_errors.trlc
  lobster/tools/pkg/requirements/test_specifications.trlc
  lobster/tools/trlc/requirements/potential_errors.trlc
  lobster/use_cases.trlc
  tests_system/lobster_pkg/test_invalid_scenario.py
  tests_system/lobster_pkg/test_valid_scenario.py
Labels: internal, requirements

#485 fix: GitHub URLs in lobster traceability reports
  Makefile
  tracing/tracing.sh
Labels: documentation, internal

#487 Fix the issues toggle in the HTML report
  lobster/tools/core/html_report/html_report.py
  lobster/tools/core/html_report/html_report_js.py
  tests_system/lobster_html_report/data/all_status.html
  tests_system/lobster_html_report/data/codebeamer_links.html
  tests_system/lobster_html_report/data/custom_data.html
  tests_system/lobster_html_report/data/custom_data_tracing_policy.html
  tests_system/lobster_html_report/data/is_actually_html.html
  tests_system/lobster_html_report/data/octopus.html
  tests_system/lobster_html_report/data/pizza.html
  tests_system/lobster_html_report/data/pizza_online.html
  tests_system/lobster_html_report/data/to_render_md_content.html
Labels: bug, lobster-html-report

#451 Using `MultiFileInputTool` base class for `lobster-cpp` tool
  CHANGELOG.md
  Makefile
  lobster/common/BUILD.bazel
  lobster/common/file_collector.py
  lobster/common/multi_file_input_config.py
  lobster/common/multi_file_input_tool.py
  lobster/common/tool2.py
  lobster/common/tool2_config.py
  lobster/tools/cpp/cpp.py
  tests_unit/BUILD.bazel
  tests_unit/test_tool_util.py
Labels: lobster-cpp

#489 Add Bazel test target for html report tool test
  tests_system/lobster_html_report/BUILD.bazel
  tests_system/lobster_html_report/data/BUILD.bazel
  tests_system/tests_utils/BUILD.bazel
Labels: internal, bazel

#490 LOBSTER Release 1.0.0
  CHANGELOG.md
  README.md
  lobster/common/version.py
Labels: release

#501 Add Bazel support for system tests of lobster-json
  tests_system/lobster_json/data/BUILD.bazel
  tests_system/lobster_json/test_config_exceptions.py
  tests_system/lobster_json/test_directories.py
  tests_system/lobster_json/test_json_extension.py
Labels: internal
